<footer class="container-fluid" role="contentinfo">
    <div id="footer-contact-us" class="row justify-content-center align-content-center no-gutters pt-3 pb-3">
        <div class="col-md-7 contact-wrapper text-center">
            <div class="row justify-content-around no-gutters align-items-center">
                <div class="col-sm-3 contact-header">
                    Contact Us
                </div>
                <div class="col-1"></div>
                <div class="col-sm-8 contact-text">
                    <p class="mb-0">Monday - Friday, 8:30 a.m. - 5:30 p.m. Eastern Time</p>
                    <p class="mb-0">(877) 495-4849, or email us:
                        <a href="mailto:vendor.support@gsa.gov">vendor.support@gsa.gov</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-menu" class="row justify-content-center align-content-center pb-3">
        <ul class="list-inline col-md-7 text-center" aria-label="Footer Menu">
            <li class="list-inline-item">
                <a href="/portal/about-us.html" id="footer-about-us">About Us</a>
            </li>
            <li class="list-inline-item">
                <a href="/portal/privacy-security.html" id="footer-privacy">Privacy & Security Notice</a>
            </li>
            <li class="list-inline-item">
                <a href="/portal/accessibility-statement.html" id="footer-accessibility">Accessibility Statement</a>
            </li>
            <li class="list-inline-item">
                <a href="/portal/foia.html" id="footer-foia">FOIA</a>
            </li>
        </ul>
    </div>
</footer>