<div class="container-fluid main-container">
  
  <!-- Breadcrumbs -->
  <div class="breadcrumb-wrapper22">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Home
      </li>
    </ol>
  </div>
  
  <app-alerts></app-alerts>

  <app-page-info></app-page-info>

  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
      <mat-spinner aria-hidden="true"></mat-spinner>
  </div>

  <!-- Reporting Info -->
  <div *ngIf="!isLoading" class="container-fluid mt-4 mb-4">
    <app-reporting-info
      [contracts]="contractorsLandingReportingData">
    </app-reporting-info>
  </div>

  <!-- Contracts Table -->
  <div *ngIf="!isLoading">
      <mat-card class="table-wrapper">
        <app-data-table [records]="contractorsLandingDataTable" [tableSetting]="contractorsLandingDataTableSettings"></app-data-table>
      </mat-card>
  </div>

</div>