@import "~bootstrap/scss/bootstrap";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.css';
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/prismjs/themes/prism-okaidia.css";
@import "./variables.scss";

// Splash Screen
.splash-screen {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: #f3f4f6;
    .splash-loader-container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -32px;
        margin-top: -32px;
    }
    .splash-loader {
        animation: rotator 1.4s linear infinite;
    }
    .path {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        stroke: #004e89;
        animation: dash 1.4s ease-in-out infinite;
    }
}
@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}
// End of Splash Screen



html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
}


.btn{
    border: 0;
    &:hover{
        cursor: pointer;
    }
}

.btn-primary{
    background-color: $tdr-orange-btn;
    &:hover{
        background-color: darken($tdr-orange-btn, 20%);
    }
}

.btn-danger{
    background-color: $tdr-grey;
    &:hover{
        background-color: darken($tdr-grey, 20%);
    }
}

select{
    height: 38px;
}

.page-title{
    font-size: 1.5rem;
}

.main-container{
    padding: 16px;
    background-color: #f3f4f6;
}

.mat-link{
    color: $tdr-link !important;
    padding: 0 !important;
    &:hover .mat-button-focus-overlay{
        background-color: transparent;
    }
    &:focus{
        outline: none;
    }
}

.mat-form-field-label{
    font-style: italic !important;
}

// .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
//     color: #fff;
// }

.mat-raised-button, .mat-fab, .mat-mini-fab{
    box-shadow: none !important;
    border: thin solid transparent !important;
    &:focus{
        outline: none;
    }
    &.mat-primary:hover{
        background-color: darken($tdr-grey, 20%);
    }
}

.mat-raised-button.mat-accent{
    background-color: $tdr-orange-btn !important;
    &:hover{
        background-color: darken($tdr-orange-btn, 20%) !important;
    }
}

.mat-raised-button.mat-ghost{
    background-color: #fff !important;
    border: thin solid $tdr-orange-btn !important;
    color: $tdr-orange-btn !important;
    &:hover,
    &:focus{
        background-color: $tdr-orange-btn !important;
        color: #fff !important;
    }
    &:disabled{
        color: rgba(0, 0, 0, 0.38) !important;
        border-color: transparent !important;
    }
}

.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-ghost[disabled]{
    background-color: rgba(0, 0, 0, 0.12) !important;
    cursor: not-allowed;
}

.link-underline{
    &:hover{
        text-decoration: underline;
    }
    &.blue-text{
        color: $tdr-link;
    }
    &.alert-text{
        color: $tdr-red;
    }
    &.normal-text{
        color: #222;
    }
}

.ui-state-highlight{
    background-color: $tdr-link;
}

button.close:hover,
.alert-dismissable .close{
    cursor: pointer;
}

.mat-card{
    margin-bottom: 15px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 1), 0 0px 0px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
   // padding: 0 !important;
}

.card-green{
    background-color: $tdr-green;
    color: #FFF;
}

.card-red{
    background-color: $tdr-red;
    color: #FFF;
}

.text-green{
    color: $tdr-green;
}

.text-red{
    color: $tdr-red
}

.smaller-text{
    font-size: 0.9rem;
}

.tdr-alert-info{
    background-color: $tdr-blue;
    color: #FFF;
    font-size: .85rem
}

.tdr-alert-danger.card-short{
    background-color: $tdr-red;
    color: #FFF;
    padding: 10px 24px 10px 10px !important;
}

.tdr-alert-success{
    background-color: $tdr-green;
    color: #FFF;
}

div[role=alert] a.close{
    position: absolute;
    top: 10px;
    right: 15px;
}

.alert-content{
    i{
        margin-right: 5px;
    }
}

.card-short{
    padding: 10px 24px !important;
    margin: 15px 0;
}

.card-breadcrumbs{
    margin-top: 5px;
}

a {
    color: $tdr-blue;
}

.faq-list {
    padding-left: 25px;
}

.faq-list h5 {
    padding: 10px 0;
}

/* @font-face {
    font-family: "Helvetica-Neue";
    src: url("./assets/fonts/HelveticaNeue.ttf");
} */

body,
.ui-widget {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.line-header {
    border-bottom: 1px solid #9e9e9e;
    padding-bottom: 10px;
    margin-top: 35px;
}

.header_underlined {
    color: #434343;
    border-bottom: 1px solid $tdr-blue;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.light-header {
    font-weight: 100;
}

.navbar{
    padding: 0 16px;
}

.table-info-header{
    background-color: #424242;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

.thead-inverse th{
    background-color: #ebebeb;
    color: #3d3d3d;
    font-size: 0.9rem;
    line-height: 1rem;
}

.table thead th{
    border-bottom: none;
    text-align: center;
}

.table-striped tbody tr:nth-of-type(even){
    background-color: rgb(244, 244, 244);
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: transparent;
}

.table-striped tr td{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(189, 189, 189);
}

.table-striped tr td input{
	border: 0;
	background-color: transparent !important;
}

.table-striped tr td input.ng-invalid.ng-touched,
.table-striped tr td select.ng-invalid.ng-touched{
    border: 2px solid $tdr-red;
    border-radius: 0;
}

.table-striped tr td select{
	border: 0;
	background-color: transparent !important;
}

.table-striped tr td select:focus,
.table-striped tr td input:focus{
    border: 1px solid $tdr-blue;
    border-radius: 0;
}

.page-description{
    margin: 20px 0;
    font-size: .9rem;
}

ol.breadcrumb{
    background-color: transparent;
    margin-bottom: 0 !important;
    padding: 0;
    font-size: .9rem;
}

.breadcrumb-item + .breadcrumb-item::before{
    content: ">" !important
}

.breadcrumb-item a{
    padding: 0;
    margin: 0;
    color: #03419c;
    background-color: transparent;
}

.alert-danger{
	background-color: $tdr-red !important;
	color: #ffffff !important;
	border: 0 !important;
}

.scrollable-table{
	width: 150% !important;
	max-width: 150% !important;
}

.scrollable-div{
	overflow-x: auto !important;
}

.mat-expansion-indicator::after{
    color: $menu-icon;
}

.ui-dropdown-panel .ui-dropdown-filter-container{
    display: block;
}

.ui-placeholder{
    color: #666;
}

.inline-radio{
    display: inline-block;
    margin-right: 5px;
}

.page-actions{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 1.5rem;
}

.info-wrap{
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    text-align: center;
    align-content: space-around;
    justify-content: center;
}

.mat-form-field-placeholder-wrapper{
    font-size: 0.9rem;
}

.ui-dropdown-filter-container .fa-search{
    display: none;
}

.ui-state-highlight{
    background-color: #757575;
}

.ui-dropdown .ui-dropdown-clear-icon{
    display: none !important;
}

/* Modal */
.modal-header{
    padding: 5px 15px;
    border-bottom: none;
}

.colorbox{
    padding: 10px 0;
    text-align: center;
    border: none;
    border-radius: 0;
    color: #fff;
    &.grey-box{
        background-color: $tdr-grey-bg;
    }
    &.orange-box{
        background-color: $tdr-orange-bg;
    }
    &.blue-box{
        background-color: $tdr-blue;
    }
    .colorbox-value{
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.ui-dropdown .ui-dropdown-clear-icon {
    display: none !important;
}

  .tooltip-container {
    position: relative;
  }
  
  .tooltip {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    line-height: 1;
    font-size: 14px;
    padding: 5px 7px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    display: none;
  }
  .tooltip--active {
    display: block;
    opacity: 1;
  }
  .tooltip:before {
    position: absolute;
    content: ' ';
    top: 50%;
    margin-top: -5px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
    display: block;
  }
