

$tdr-orange: #da7a5c;
$tdr-orange-btn: #ce470d;
$tdr-blue: #447e83;
$tdr-green: #267328;;
$tdr-purple: #3c1e98;
$tdr-grey-bg: #576267;
$tdr-orange-bg: #b85a3d ;
$tdr-red: #e32c28;
$tdr-grey: #757575;
$tdr-light-grey: darken($tdr-grey, 20%);
$tdr-link: #03419c;
$tdr-grey-text: #3d3d3d;
$menu-icon: #8e8e8e;