/* Styling for the Slim Loading Progress Bar container */
.loading__bar {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

/* Styling for the Slim Loading Progress Bar itself */
.loading__bar__progress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: rgba(46, 204, 113,1.0);
  color: rgba(46, 204, 113,1.0);
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  height: 2px;
  opacity: 0;
}